<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  
  <!-- Open Graph data -->
  <meta property="og:title" content="IdentifHIGH" />
  <meta property="og:url" content="https://www.identifhigh.com" />
  <meta property="og:image" content="/identifhigh/static/img/logo.jpg" />
  <meta property="og:description" content="Marijuana Mood Matcher; Strain Selection Streamliner" />
  <meta property="og:site_name" content="IdentifHIGH" />  
  
  
  <title>Identif-HIGH  |  Marijuana Mood Matcher  |  Strain Selection Streamliner </title>

  <!-- Bootstrap core CSS -->
  <link href="/identifhigh/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/identifhigh/static/css/modern-business.css" rel="stylesheet">

  <!-- ROCK SALT FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">


</head>
<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black fixed-top handwriting">
    <div class="container">
      <a class="navbar-brand" href="https://letshavealittle.fun/identifhigh/"><img src="https://letshavealittle.fun/identifhigh/static/img/logo.jpg" border="0" /></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item bigger-nav addpad">
            <a class="nav-link" href="https://letshavealittle.fun/identifhigh/">Home</a>
          </li>

          <li class="nav-item dropdown bigger-nav addpad">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Strains
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item bigger-nav" href="https://letshavealittle.fun/identifhigh/allofthem">All strains</a>
              <a class="dropdown-item bigger-nav" href="https://letshavealittle.fun/identifhigh/sativa">Sativa</a>
              <a class="dropdown-item bigger-nav" href="https://letshavealittle.fun/identifhigh/hybrid">Hybrid</a>
              <a class="dropdown-item bigger-nav" href="https://letshavealittle.fun/identifhigh/indica">Indica</a>
            </div>
          </li>


          <li class="nav-item bigger-nav addpad">
            <a class="nav-link" href="https://letshavealittle.fun/identifhigh/search">Search..</a>
          </li>

          <li class="nav-item bigger-nav addpad">
            <a class="nav-link" href="https://letshavealittle.fun/identifhigh/about">About</a>
          </li>

          <li class="nav-item bigger-nav addpad">
            <a class="nav-link" href="https://letshavealittle.fun/identifhigh/contact">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


  <header class="addspace">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
          
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://letshavealittle.fun/identifhigh/static/img/about3.jpg')">
          <div class="carousel-caption d-none d-md-block white-fade">
            <h2 class="handwriting">Identify <b><em><u>YOUR</u></em></b> desired high</h2>
            <p class="yellow-text"><b>Find strains that align with the experience that you intend.</b></p>
          </div>
        </div>          
          
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://letshavealittle.fun/identifhigh/static/img/w1.jpg')">
          <div class="carousel-caption d-none d-md-block white-fade">
            <h2 class="handwriting">Identify <b><em><u>YOUR</u></em></b> desired high</h2>
            <p class="yellow-text"><b>Find strains that align with the experience that you intend.</b></p>
          </div>
        </div>
        
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://letshavealittle.fun/identifhigh/static/img/w2.jpg')">
          <div class="carousel-caption d-none d-md-block white-fade">
            <h2 class="handwriting">Identify <b><em><u>YOUR</u></em></b> desired high</h2>
            <p class="yellow-text"><b>Find strains that align with the experience that you intend.</b></p>
          </div>
        </div>

        
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <br>

        <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p class="lead">
          <em>
            <strong>We try to match the high you're looking to buy!</strong>
      </em> &nbsp; - &nbsp; You should probably consider getting a Pizza, too...</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="https://lmgtfy.com/?q=pizza+places+near+me+that+deliver" target="_blank">Call to Action!<br><small>(call to order a pizza, bro)</small></a>
      </div>
    </div>

    <!-- Marketing Icons Section -->
    <!--
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">SATIVA</h4>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">HYBRID</h4>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">INDICA</h4>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    -->
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2 class="handwriting"><b>Strain Selection</b></h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/identifhigh/sativa"><img class="card-img-top" src="/identifhigh/static/img/sativa.png" alt=""></a>
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="#">Sativa</a>
            </h4>
            <h5>Higher THC</h5>
            <p class="card-text">
              <b><em>Sativa strains tend to be</em></b><br>
              Energizing, Stimulating,
              Reduce anxiety,
              Increase creativity,
              Sharpen focus

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/identifhigh/hybrid"><img class="card-img-top" src="/identifhigh/static/img/hybrid.png" alt=""></a>
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="#">Hybrid</a>
            </h4>
            <h5>Mixed bag</h5>
            <p class="card-text">
              <b><em>Hybrid strains tend to be</em></b><br>
              Effected largely by the traits and characteristics of the parent strains.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/identifhigh/indica"><img class="card-img-top" src="/identifhigh/static/img/indica.png" alt=""></a>
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="#">Indica</a>
            </h4>
            <h5>CBD Content</h5>
            <p class="card-text">
              <b><em>Indica strains tend to be</em></b><br>
              Relaxing,
              Relieve pain,
              Reduce nausea,
              Increase appetite,
              Improve sleep
          </div>
        </div>
      </div>


    <!-- Features Section -->
<!--
    <div class="row">
      <div class="col-lg-6">
        <h2>Modern Business Features</h2>
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
          <li>
            <strong>Bootstrap v4</strong>
          </li>
          <li>jQuery</li>
          <li>Font Awesome</li>
          <li>Working contact form with validation</li>
          <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
      </div>
    -->
    </div>

    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Buying weed can sometimes be a bit of a crapshoot.  While the product may be high quality, it might not necessarily be the <em>RIGHT</em> experience you were after.</p>
        <p>
            It's like having a hammer instead of a screwdriver.  Sure, they're both tools, but each is better suited for certain tasks.  With something as intentional as a head-change, you may be looking for <b><em>a specific type</em></b> of head-change..
        </p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="/identifhigh/search">Match Your Mood NOW!</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; <b><em>Identif</em>-HIGH</b> 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://letshavealittle.fun/identifhigh/static/vendor/jquery/jquery.min.js"></script>
  <script src="https://letshavealittle.fun/identifhigh/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
