<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Open Graph data -->
  <meta property="og:title" content="IdentifHIGH" />
  <meta property="og:url" content="https://www.identifhigh.com" />
  <meta property="og:image" content="/identifhigh/static/img/logo.jpg" />
  <meta property="og:description" content="Marijuana Mood Matcher; Strain Selection Streamliner" />
  <meta property="og:site_name" content="IdentifHIGH" />  
  
  
  <title>Identif-HIGH  |  Marijuana Mood Matcher  |  Strain Selection Streamliner </title>

  <!-- Bootstrap core CSS -->
  <link href="https://letshavealittle.fun/identifhigh/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://letshavealittle.fun/identifhigh/static/css/modern-business.css" rel="stylesheet">

    <!-- ROCK SALT FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">


</head>
<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black fixed-top handwriting">
    <div class="container">
      <a class="navbar-brand" href="https://letshavealittle.fun/identifhigh/"><img src="https://letshavealittle.fun/identifhigh/static/img/logo.jpg" border="0" /></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item bigger-nav addpad">
            <a class="nav-link" href="https://letshavealittle.fun/identifhigh/">Home</a>
          </li>

          <li class="nav-item dropdown bigger-nav addpad">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Strains
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item bigger-nav" href="https://letshavealittle.fun/identifhigh/allofthem">All strains</a>
              <a class="dropdown-item bigger-nav" href="https://letshavealittle.fun/identifhigh/sativa">Sativa</a>
              <a class="dropdown-item bigger-nav" href="https://letshavealittle.fun/identifhigh/hybrid">Hybrid</a>
              <a class="dropdown-item bigger-nav" href="https://letshavealittle.fun/identifhigh/indica">Indica</a>
            </div>
          </li>


          <li class="nav-item bigger-nav addpad">
            <a class="nav-link" href="https://letshavealittle.fun/identifhigh/search">Search..</a>
          </li>

          <li class="nav-item bigger-nav addpad">
            <a class="nav-link" href="https://letshavealittle.fun/identifhigh/about">About</a>
          </li>

          <li class="nav-item bigger-nav addpad">
            <a class="nav-link" href="https://letshavealittle.fun/identifhigh/contact">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


<div class="addspace">

</div>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"><span class="handwriting">Marijuana Mood Matcher</span><br>
      <small><em>Strain Selection Streamliner</em></small>
    </h1>

    <ol class="breadcrumb handwriting">
      <li class="breadcrumb-item">
        <a href="https://letshavealittle.fun/identifhigh/">Home</a>
      </li>
      <li class="breadcrumb-item active">Search</li>
    </ol>

    <!-- Intro Content -->


    <!-- FORM START -->
<!-- <form id="searcher" name="searcher" method="post" action="https://letshavealittle.fun/identifhigh/findit"> -->
<div class="container">
    <div class="row d-flex justify-content-center">


<div class="col-lg-5 search-pos">
<form id="searcher" name="searcher" method="post" action="https://letshavealittle.fun/identifhigh//searchfx/positive">

        <h3 class="handwriting search-pad"><b>Positive Effects</b></h3>

        <div class="container">
          <div class="row">
          <div class="col-lg-6">
              <input type="checkbox" id="giggly" name="giggly">Giggly<br>
              <input type="checkbox" id="focused" name="focused">Focused<br>
              <input type="checkbox" id="relaxed" name="relaxed">Relaxed<br>
              <input type="checkbox" id="euphoric" name="euphoric">Euphoric<br>
              <input type="checkbox" id="happy" name="happy">Happy<br>
              <input type="checkbox" id="uplifted" name="uplifted">Uplifted<br>
          </div>
          <div class="col-lg-6">
              <input type="checkbox" id="energetic" name="energetic">Energetic<br>
              <input type="checkbox" id="creative" name="creative">Creative<br>
              <input type="checkbox" id="aroused" name="aroused">Aroused<br>
              <input type="checkbox" id="tingly" name="tingly">Tingly<br>
              <input type="checkbox" id="sleepy" name="sleepy">Sleepy<br>
              <input type="checkbox" id="talkative" name="talkative">Talkative<br>
          </div>
          </div>

        <div class="col-lg-12 md-12 sm-12 text-center search-pad">
              <input type="submit" value="Search by Positive FX" class="btn btn-primary btn-xl">

        </div>

        </div>
</form>
  </div>

      <div class="col-lg-1">
        <!-- spacer -->
      </div>

<div class="col-lg-5 search-med">

<form id="searchMed" name="searchMed" method="post" action="https://letshavealittle.fun/identifhigh//searchfx/medical">
  <h3 class="handwriting search-pad"><b>Medicinal Uses</b></h3>

        <div class="container">
          <div class="row">
          <div class="col-lg-6">
              <input type="checkbox" id="depression" name="depression">Depression<br>
              <input type="checkbox" id="headaches" name="headaches">Headaches<br>
              <input type="checkbox" id="fatigue" name="fatigue">Fatigue<br>
              <input type="checkbox" id="musclespasms" name="musclespasms">Muscle Spasms<br>
              <input type="checkbox" id="cramps" name="cramps">Cramps<br>
              <input type="checkbox" id="insomnia" name="insomnia">Insomnia<br>
          </div>
          <div class="col-lg-6">
              <input type="checkbox" id="inflammation" name="inflammation">Inflammation<br>
              <input type="checkbox" id="pain" name="pain">Pain<br>
              <input type="checkbox" id="stress" name="stress">Stress<br>
              <input type="checkbox" id="nausea" name="nausea">Nausea<br>
              <input type="checkbox" id="eyepressure" name="eyepressure">Eye Pressure<br>
              <input type="checkbox" id="lackofappetite" name="lackofappetite">Lack of Appetite<br>
          </div>
          </div>

        <div class="col-lg-12 md-12 sm-12 text-center search-pad">
          <input type="submit" value="Search by Medicinal FX" class="btn btn-primary btn-xl">
        </div>

</div>


      </div>


    </div>

    <!-- /.row -->
</div>
    <!-- /.container -->

<!-- </form> -->

  <!-- /.FORM END -->


<hr>

    <div class="container">
      <div class="row">

        {% block posResults %}
          {{ respos }}
        {% endblock %}


        {% block medResults %}
          {{ resmed }}
        {% endblock %}


      </div>

    </div>


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; <b><em>Identif</em>-HIGH</b> 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://letshavealittle.fun/identifhigh/static/vendor/jquery/jquery.min.js"></script>
  <script src="https://letshavealittle.fun/identifhigh/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
